
.vs/Multifunction/v16/.suo
*.cache
.vs/Multifunction/DesignTimeBuild/.dtbcache.v2
Multifunction/bin/Debug/netcoreapp3.1/Multifunction.dll
Multifunction/bin/Debug/netcoreapp3.1/Multifunction.pdb
Multifunction/obj/Debug/netcoreapp3.1/Multifunction.dll
Multifunction/obj/Debug/netcoreapp3.1/Multifunction.pdb
Multifunction/obj/Debug/netcoreapp3.1/Multifunction.pdb
Multifunction/obj/Debug/netcoreapp3.1/Multifunction.dll
Multifunction/obj/Debug/netcoreapp3.1/Multifunction.csprojAssemblyReference.cache
Multifunction/bin/Result.txt
